:root {
    --bg: #313638;
    --bg-accent: #667176;
    --fg: #F09D51;
    --fg-bold: #F06543;
    --text: #E8E9EB;
    --text-accent: #E0DFD5;
}

.fill-current {
    fill: currentColor;
}

.inherit-color {
    color: inherit;
}

svg.bg-accent {
    fill: var(--bg-accent);
}

.bg-accent {
    color: var(--bg-accent);
}

.fg-bold {
    color: var(--fg-bold);
}