@import "colors.css";

a {
    color: var(--fg);
    text-decoration: none;
}

a:hover {
    color: var(--text-accent);
}

a.bg-link {
    color: var(--bg-accent);
    text-decoration: underline;
}

a.bg-link:hover {
    color: var(--text-accent);
}

a.img-link {
    background-color: var(--bg-accent);
}

a.img-link:hover {
    background-color: var(--text-accent);
}