@import "links.css";

:root {
    --bg: #313638;
    --fg: #F09D51;
    --fg-accent: #F06543;
    --text: #E0DFD5;
    --text-accent: #E8E9EB;

    font-family: Verdana, sans-serif;
}

.w-100 {
    width: 100%;
}

.ma0 {
    margin: 0;
}

.pa0 {
    padding: 0;
}

.mali2-right {
    margin-right: 2rem;
}

.mali2-left {
    margin-left: 2rem;
}

.sgl-space {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dbl-space {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.lr-center {
    margin-right: auto;
    margin-left: auto;
}

.middle {
    vertical-align: middle;
}

.dib {
    display: inline-block;
}

.flex-ns {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.bare-list {
    list-style-type: none;
}

.inline-svg {
    width: auto;
    height: 100%;
}

.inline-effect-svg {
    width: auto;
    height: 40%;
}

.wrapper {
    display: contents;
}

.nav * {
    color: var(--fg);
    text-shadow: #1a1a1a 1px 1px 0;
}

.nav-lis>li {
    display: inline-block;
    margin-right: 1.25rem;
}

.inherit-color {
    color: inherit;
}