@import "colors.css";
@import "links.css";
@import "text.css";

html,
body,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.ma0 {
    margin: 0;
}

.mauto-right {
    margin-right: auto;
}

.mauto-left {
    margin-left: auto;
}

.mauto-lr {
    margin: 0 auto;
}

.pa0 {
    padding: 0;
}

.lr-center {
    margin-right: auto;
    margin-left: auto;
}

.middle {
    vertical-align: middle;
}

.fixed {
    position: fixed;
}

.dib {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

.flex-nogrow {
    flex-grow: 0;
}

.flex-auto-hr {
    margin: 0 1rem;
    max-width: 14rem;
    flex-grow: 1;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.v-base {
    vertical-align: baseline;
}

.fixed-bottom {
    position: fixed;
    bottom: 1rem;
}

.bare-list {
    list-style-type: none;
}

svg.autosize-svg,
.autosize-svg>svg {
    width: auto;
    height: 100%;
}

.wrapper {
    display: contents;
}

.inline-lis>li {
    display: inline-block;
    margin: 0 0.75rem;
}