@import "colors.css";

:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;

    --h1-size: 4rem;
    --h2-size: 2.5rem;
}

.text {
    color: var(--text);
}

.bg-text {
    color: var(--bg-accent);
}

.fg-text {
    color: var(--fg);
    text-shadow: #1a1a1a 1px 1px 0;
}

.fg-bold {
    color: var(--fg-bold);
    text-shadow: #1a1a1a 1px 1px 0;
}