<footer class="w-100 flex-ns flex-wrap justify-center fixed-bottom bg-text" style="font-size: 0.8rem;">
    <a class="bg-link" href="https://github.com/pyre-project/pyre-project.github.io/issues/new" tabindex="1050"
        target="_blank" title="Navigate to the website respository 'File an Issue' page in a new tab.">
        {{ i18n "site_issue" }}{{ partial "images/external_link.html" }}
    </a>
    &emsp;
    <a class="bg-link" href="https://github.com/pyre-project/pyre/issues/new" tabindex="1051" target="_blank"
        title="Navigate to the OS repository 'File an Issue' page in a new tab.">
        {{ i18n "os_issue" }}{{ partial "images/external_link.html" }}
    </a>

    &emsp;|&emsp;

    <i>{{ replace (replace .Site.Copyright "{title}" .Site.Title) "{year}" now.Year }}</i>
</footer>