<nav class="w-100" role="navigation">
    <div style="margin: 0 0.25rem; height: 1.5rem;" class="lr-center flex-ns flex-wrap flex-center justify-start">
        <!-- site header / name -->
        <div class="dib h-100 ma0 inline-svg fg-bold">
            {{ partial "images/fire.html" }}
        </div>

        <span class="bg-text">&emsp;|&emsp;</span>

        <!-- menu items -->
        <ul class="ma0 pa0 inline-ul bare-list">
            {{ range site.Menus.main.ByWeight }}
            <li role="menuitem">
                <a href="{{ absLangURL .URL }}" tabindex="{{ .Weight }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>

        <!-- social links -->
        <div class="dib h-100 mauto-left">
            <a class="dib h-100 inline-svg bg-accent" href="https://github.com/pyre-project" target="_blank"
                tabindex="100">
                {{ partial "images/github.html" }}
            </a>

            <a class="dib h-100 inline-svg img-link" href="https://www.patreon.com/PyreProject" target="_blank"
                tabindex="101">
                {{ partial "images/patreon.html" }}
            </a>
        </div>
    </div>
</nav>