<!-- patreon / github img links -->
<div class="fixed" style="top: 0.5rem; right: 0.5rem; height: var(--h2-size);">
    <div class="inline-svg bg-accent">
        {{ partial "images/github.html" }}
    </div>
</div>


<!-- primary header -->
<div class="flex flex-center justify-center fg-bold" style="height: var(--h1-size);">
    <div class="dib autosize-svg">
        {{ partial "images/fire.html"}}
    </div>
    <h1 class="dib" style="padding-top: 1.15rem; font-size: var(--h1-size);">
        Pyre
    </h1>
</div>


<nav style="padding: 0.5rem 0.75rem; font-size: 1.5rem;" role="navigation">
    <div class="flex flex-wrap flex-center justify-start">
        <!-- site header / name -->

        <!-- menu items -->
        <ul class="ma0 pa0 wrapper inline-lis bare-list">
            <!-- nav links -->
            {{ range site.Menus.main.ByWeight }}
            <li role="menuitem">
                <a href="{{ absLangURL .URL }}" tabindex="{{ .Weight }}">{{ .Title }}</a>
            </li>
            {{ end }}

            <!-- social links -->
            <!--
            <li role="menuitem">
                <a href="https://www.github.com/pyre-project/" tabindex="120">
                    GitHub&thinsp;{{ partial "images/external_link.html" }}
                </a>
            </li>
            <li role="menuitem">
                <a href="https://www.patreon.com/bePatron?u=91044262" tabindex="124">
                    Patreon&thinsp;{{ partial "images/external_link.html" }}
                </a>
            </li>
        -->
        </ul>
    </div>
</nav>