<nav class="w-100 sgl-space nav" role="navigation">
    <div style="height: 1.5rem" class="lr-center flex-ns flex-wrap flex-center justify-start">
        <ul class="ma0 pa0 bare-list nav-lis">
            {{ range .Pages }}
            <li role="menuitem">
                <a href="{{.RelPermalink}}">{{.Title}}</a>
            </li>
            {{ end }}

            <li>
                <a href="https://www.github.com/pyre-project/" role="menuitem">
                    GitHub
                    <img class="inline-effect-svg" src="/images/external_link.svg" title="external link" />
                </a>
            </li>

            <li>
                <a href="https://www.patreon.com/bePatron?u=91044262" role="menuitem">
                    Patreon
                    <img class="inline-effect-svg" src="/images/external_link.svg" title="external link" />
                </a>
            </li>
        </ul>
    </div>
</nav>